.keys {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


.key {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}